*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body
{
	background:#fbf3ff;
}
.container{
	position:absolute;
	max-width:800px;
	height:500px;
	margin:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}